* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

._container {
  max-width: 1000px;
  padding: 0px 30px;
  margin: 0 auto;
}

.header {
  background: black;
}
.header__container {
  height: 60px;
}
.header__logo {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.header__nav {
  padding-top: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.header__list {
  padding: 0;
  display: flex;
  list-style: none;
  gap: 30px;
}
.header__link {
  text-decoration: none;
  color: white;
}
.header__link:hover {
  color: gray;
}
.header__burger {
  display: none;
  width: 30px;
  height: 18px;
  position: relative;
  z-index: 5;
  cursor: pointer;
}
.header__burger span {
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
}
.header__burger span:first-child {
  top: 0;
}
.header__burger span:last-child {
  top: auto;
  bottom: 0;
}
.header__burger.active span {
  -webkit-transform: scale(0);
  transform: scale(0);
}
.header__burger.active span:first-child {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: calc(50% - 1px);
}
.header__burger.active span:last-child {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  bottom: calc(50% - 1px);
}

@media (max-width: 992px) {
  .header__nav {
    display: flex;
    justify-content: space-between;
  }
  .header__list {
    position: fixed;
    right: -100%;
    top: 60px;
    gap: 0;
    flex-direction: column;
    background-color: #262626;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    padding: 20px 0px;
  }
  .header__list.active {
    right: 0;
    gap: 10px;
  }
  .header__burger {
    display: block;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  .header__burger.active span:first-child {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .header__burger.active span:last-child {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}
.push {
  background-color: wheat;
}
.push__container {
  padding: 30px 0px;
}
.push__title {
  text-align: center;
}
.push__input {
  display: block;
}

.project__content {
  display: flex;
  justify-content: space-between;
}
.project__img {
  width: 100%;
}
.project__item {
  max-width: 350px;
}
.project__title {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}
.project__text {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}