.header {
  background: black;

  &__container {
    height: 60px;
  }

  &__nav {
    padding-top: 20px;
    max-width: 300px;
    margin: 0 auto;
  }

  &__list {
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  &__link {
    text-decoration: none;
    color: white;
  }

  &__link:hover {
    color: gray;
  }

  &__burger {
    display: none;
    cursor: pointer;

    &-bar {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: white;
    }
  }


}

@media(max-width:992px) {
  .header {

    &__list {
      display: none;
    }

    &__burger {
      display: block;
    }

    &-active {
      &__bar:nth-child(2) {
        opacity: 0;
      }

      &__bar:nth-child(1) {
        transform: translate(8px) rotate(45deg);
      }

      &__bar:nth-child(3) {
        transform: translate(-8px) rotate(-45deg);
      }
    }
  }
}