._container {
  max-width: 1200px;
  padding: 0 20px;
}



/* ===================== */
.out-block {
  width: 700px;
  height: 700px;
  background-color: antiquewhite;
  margin: 0 auto;
}

.in-block {
  display: block;

  width: 600px;
  height: 600px;
  background-color: green;
  margin: 0 auto;

}

.none {
  display: none;
  margin: 0 auto;
}

.in-block__list {
  font-size: 40px;
  padding: 20px;
  text-align: center;
  list-style: none;
}

.in-name {
  display: block;
  margin: 0 auto;
}

.in-price {
  display: block;
  margin: 0 auto;
}

.in-category {
  display: block;
  margin: 0 auto;
}

.in-block__btn {
  display: block;
  margin: 0 auto;
}